@using mediastore.Models.DataModels;
@{
    ViewData["title"] = "Player";
    var mediafile = ViewBag.mediafile as Mediafile;
    var link = String.Format("https://storage.googleapis.com/{0}/{1}", ViewBag.bucketName, mediafile.Id);
}
    <main role="main">

        <section class="jumbotron text-center mb-0">
        <div class="container">
            <div class="viewer">
            @if ( String.IsNullOrEmpty(mediafile.Id) ) 
            {
                <div class="message pb-2">No media file to show.</div>
            } else {
                @if ( mediafile.ContentType == "video/mp4" ) {
                    <video style="max-height:500px;" controls><source src="@link" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                } else if ( (new[]{ "application/pdf", "text/css", "text/html" }).Contains(mediafile.ContentType, StringComparer.OrdinalIgnoreCase) ) {
                    <iframe src="@link" width="600" height="500"></iframe>
                } else if ( mediafile.ContentType == "image/jpeg" ) {
                    <img src="@link" style="max-height:500px;">
                } else if ( mediafile.ContentType == "audio/mpeg" ) {
                    <audio controls>
                        <source src="@link" type="audio/mpeg"> Your browser does not support HTML audio.
                    </audio>
                }
                <table class="table mt-4">
                    <tr>
                        <td><b>Original File Name</b></td>
                        <td><b>Content Type</b></td>
                        <td><b>Uploaded On</b></td>
                    </tr>
                    <tr>
                        <td>@mediafile.OriginalFileName</td>
                        <td>@mediafile.ContentType</td>
                        <td>@mediafile.CreatedDateTime</td>
                    </tr>
                </table>
            }
            </div>
        </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row"></div>
            </div>
        </div>

    </main>



